[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-json = "*"
lndgrpc = "*"

[requires]
python_version = "3.6"
