@import "sassline-base";
$light-grey: #AAAAAA;
$dark-grey: #232732;
$white: #ffffff;
@import "ribbons";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-right-radius: $radius;

  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}

header {
  background: $dark-grey;
  padding: 2rem 2rem 0 2rem;
  img {
    max-width: 200px;
  }
}

section {
  margin: 0 auto;
  padding: 0 1em;
  @include breakpoint(break-2) {
    max-width: 70%;
  }
}

div.banner-wrap {
  background: $dark-grey;
  padding: 2rem 0;
  color: $white;
  margin-bottom: 2rem;
}

span.client {
  font-family: Courier;
  background: #EEEEEE;
  font-weight: 700;
  padding: 4px;
}

section.banner {
  .container {
    @include breakpoint(break-2) {
      display: flex;
    }
    .content {
      @include breakpoint(break-2) {
        width: 100%;
      }
      margin-right: 1rem;
      img {
        max-width: 100%;
      }
      p {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 1rem;
        font-weight: light;
      }
    }
    .barcode {
      @include breakpoint(break-2) {
        width: 265px;
      }
      img {
        display: block;
        margin: 0 auto;
        outline: 1px solid $light-grey;
      }
    }
  }
}

.c-lightning-steps {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  padding: 1rem 0;
}

section.snapshot {
  padding-bottom: 1rem;
}

section.snapshot-download {
  div.product {
    max-width: 100%;
    @include breakpoint(break-3) {
      max-width: 75%;
    }
    @include border-radius(1rem);
    background: #ffffff;
    border: 1px solid #cacaca;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    h2 {
      max-width: 85%;
    }
    p.file {
      font-size: 1.2rem;
      width: 100%;
      display: block;
      text-align: center;
      width: 100%;
      font-family: courier;
      background: #EEEEEE;
      padding: 0.5em;
      i {
        color: #AAAAAA;
      }
      span.size {
        padding-left: 1rem;
      }
    }
    p.price {
      color: green;
      font-size: 2rem;
    }

    form.paypal {
      text-align: center;
    }

    hr {
      padding: 0.5rem 0;
      margin-bottom: 1rem;
    }

    p.or {
      display: block;
      text-align: center;
    }

    div.bitcoin-payment {
      display: flex;
      align-items: stretch;
      @include border-radius(4px);
      border: 1px solid #d29b17;
      background: #fffde2;
      margin-top: 1rem;
      div.address {
        font-family: courier;
        color: #3a2b08;
        border-right: 1px solid #d29b17;
        padding: 0.5em;
        word-wrap:break-word;
        display:inline-block;
        width: 85%;
        @include breakpoint(break-1) {
          width: 70%;
        }
        font-size: 0.9rem;
      }
      a.qrcode-link {
        display: none;
        @include breakpoint(break-1) {
          display: flex
        }
        width: 15%;
        border-right: 1px solid #d29b17;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 0.5rem;
        text-decoration: none;
        color: #c3730e;
        background: #ffc43a;
        text-align: center;
        i {
          font-size: 3rem;
          @include breakpoint(break-2) {
            font-size: 2rem;
          }
        }
      }
      a.bitcoin-link {
        @include border-right-radius(4px);
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 0.5rem;
        text-decoration: none;
        color: #c3730e;
        background: #ffc43a;
        text-align: center;
        i {
          font-size: 3rem;
          @include breakpoint(break-2) {
            font-size: 2rem;
          }
        }
      }
    }

    .qrcode {
      height: 300px;
      text-align: center;
      border-right: 1px solid $light-grey;
      border-bottom: 1px solid $light-grey;
      border-left: 1px solid $light-grey;
      img {
        border: 1px solid $light-grey;
        margin: 1rem;
      }

      &.hidden {
        height: 0;
        border: 0;
        overflow: hidden;
      }
    }

  }
}

.typeset {
  i {
    font-style: normal;
  }
}

footer {
  background: $dark-grey;
  margin-top: 6rem;
  padding: 2rem 0;
  color: $white;
  .typeset {
    p {
      a {
        color: $white;
        text-decoration: underline;
        background-image: none;
        text-shadow: none;
      }
      code {
        color: $white;
        background: $dark-grey;
      }
    }
  }
}