<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supernode.li</title>
    <meta name="description" content="supernode.li is a low-fee, high uptime lightning node with channels to popular merchants.">
    <link href="{{ url_for('static', filename = 'stylesheets/site.css') }}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename = 'favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename = 'favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename = 'favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename = 'favicons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename = 'favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>

    <header class="typeset">
      <img src="/static/images/supernode-inverse.svg" />
    </header>

    <div class="banner-wrap">
      <section class="typeset banner">
        <div class="container">
          <div class="content">
            <p>We are supernode.li, welcome to the lightning network! 👋</p>

            <p>We’re a low-fee, high uptime lightning node with channels to popular merchants.</p>
          </div>
          <div class="barcode">
            <img src="https://1ml.com/node/02b7aeeb7df1ca12c174a16b3a109c06a04c10f1b19290eb9a137b6cade7efc4a6/qrcode" />
          </div>
        </div>
      </section>
    </div>

    <section class="typeset">
      <h2>If you’re just getting started, why not open a channel back to us?</h2>

      <p>The Lightning Network will be stronger when more channels are open between nodes.</p>

      <p>If you’d like to try opening a channel, we’d love it if you opened one back to us ❤️</p>

      <div class="lnd-steps">
        <p>If you're using <span class="client">lnd</span> then connect like this:</p>
        <pre>lncli connect 02b7aeeb7df1ca12c174a16b3a109c06a04c10f1b19290eb9a137b6cade7efc4a6@supernode.li:9735</pre>
        <p>Then open the channel like this:</p>
        <pre>lncli openchannel 02b7aeeb7df1ca12c174a16b3a109c06a04c10f1b19290eb9a137b6cade7efc4a6 --local_amt 200000</pre>
      </div>

      <div class="c-lightning-steps">
        <p>If you're using <span class="client">c-lightning</span> it’s a bit different, connect like this:</p>
        <pre>lightning-cli connect 02b7aeeb7df1ca12c174a16b3a109c06a04c10f1b19290eb9a137b6cade7efc4a6 supernode.li 9735</pre>
        <p>Then...</p>
        <pre>lightning-cli fundchannel 02b7aeeb7df1ca12c174a16b3a109c06a04c10f1b19290eb9a137b6cade7efc4a6 200000
      </pre>

      <p>The channel will take a little while to open, be patient. You can monitor how it’s going at <a href="https://1ml.com/node/02b7aeeb7df1ca12c174a16b3a109c06a04c10f1b19290eb9a137b6cade7efc4a6">1ml</a>.</p>

      <p>If you've any questions, you can email us at <a href="mailto:hello@supernode.li">hello@supernode.li</a> and we’ll respond as quickly as we can.</p>

    </section>

    <footer>
    </footer>

    {% include "analytics.html" %}
  </body>
</html>
